<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="movie.css">
<title>Movie Knight</title> 
<p style="font-family:Verdana;color:black;font-size:50px">Create an account</p>
</head>
<body bgcolor="#FFFFFF">

<div class="imgcontainer">
    <center> <img src="logo.png" alt="Avatar" class="avatar"> </center>
  </div>

  <center>
<form action="/action_page.php">
  Create your username:
  <input type="text" name="Username">
  <br>
  Create your password:
  <input type="text" name="Password">
  <br>
  <input type="submit" value="Submit">
</form>
</center>


</body>

<!--       _
       .__(.)< (MEOW)
        \___)   
 ~~~~~~~~~~~~~~~~~~-->
</html>
