{% load staticfiles %}
{% block content %}
<html>
<head>
<link rel="stylesheet" type="text/css" href="movie.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css"> 
<title>Movie Knight</title> 

</head>
<body bgcolor="#FFFFFF">
<nav>
  <ul class="w3-navbar w3-black">
    <li><p><a href="movie.html">Home</a></p></li>
    <li><p><a href="javascript:void(0)">Movies</a></p></li>
    <li><p><a href="about.html">About</a></p></li>
  </ul>
</nav>

<p style="font-family:Verdana;color:black;font-size:50px">Create an account</p>
<div class="imgcontainer">
    <center> <img src="/images/logo.png" alt="Avatar" class="avatar"> </center>
  </div>

  <center>
<form action="/action_page.php">
  Create your username:
  <input type="text" name="Username">
  <br>
  Create your password:
  <input type="text" name="Password">
  <br>
  <input type="submit" value="Submit">
</form>
</center>

<footer class="w3-container w3-black">
  <p>For Philly Codefest 2017</p>
</footer>
</body>

<!--       _
       .__(.)< (MEOW!!!)
        \___)   
 ~~~~~~~~~~~~~~~~~~-->
{% endblock %}
