{% load staticfiles %}
{% block content %}

<link href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" rel="stylesheet">
</link>

<table id="MovieTable" class="display">
    <thead>
        <tr class="noExl">
            <th>Movie name</th>
            <th>Year</th>
            <th>Rating</th>
            <th>Runtime</th>
            <th>Genre</th>
            <th>Actors</th>
        </tr>
    </thead>
    <tbody>
        {% for m in movie %}
            <tr>
                <td>
                    {{ m.title }}
                </td>
                <td>
                    {{ m.year }}
                </td>
                <td>
                    {{ m.rating }}
                </td>
                <td>
                    {{ m.runtime }}
                </td>
                <td>
                    {{ m.genre }}
                </td>
                <td>
                    {{ m.actors }}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}
{% block js %}
<script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>

<script type="text/javascript">
$(document).ready(function(){
    $('#MovieTable').DataTable();
});

</script>

{% endblock %}
