{% load staticfiles %}
{% block content %}
<style>
#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
   background:#6cf;
}
#p{
text-align: center
}
#body{
background-color:yellow
}
</style>

<head>


<link rel="stylesheet" type="text/css" href="movie.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css"> 
<title>Movie Knight</title> 

</head>
<body bgcolor="#FFFFFF">
<nav>
  <ul class="w3-navbar w3-black">
    <li><p><a href="movie.html">Home</a></p></li>
    <li><p><a href="javascript:void(0)">Movies</a></p></li>
    <li><p><a href="about.html">About</a></p></li>
	
  </ul>
</nav>
<div id="p">
<p style="font-family:Verdana;color:black;font-size:50px">Movie Knight</p>

<a href="quiz/" class="btn" type="submit" value="Submit">Submit</a>
<table id="MovieTable" class="display">
    <thead>
        <tr class="noExl">
            <th>ID</th>
            <th>Title</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for m in movie %}
            <tr>
                <td>
                    {{ m.imdbid }}
                </td>
                <td>
                    {{ m.title }}
                </td>
                <td>
                    <input type="checkbox", value="m.imdbid">
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

</div>
</body>
</div>

{% endblock %}
{% block js %}
<script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>

<script type="text/javascript">
$(document).ready(function(){
    $('#MovieTable').DataTable();
});

</script>


{% endblock %}
