<!DOCTYPE html>
<html>
<head>


<link rel="stylesheet" type="text/css" href="movie.css">
<title>Movie Knight</title> 
<p style="font-family:Verdana;color:black;font-size:50px">Welcome to Movie Knight</p>
</head>
<body bgcolor="#FFFFFF">

<div class="imgcontainer">
    <center> <img src="logo.png" alt="Avatar" class="avatar"> </center>
  </div>

  <center>
<form action="/action_page.php">
  Username:
  <input type="text" name="Username">
  <br>
  Password:
  <input type="text" name="Password">
  <br>
  <input type="submit" value="Submit">
</form>
<p>Don't have an account?</p>
<p>Click <a href="create.html">here</a> to create a new account</p>
</center>


</body>

<!--       _
       .__(.)< (MEOW)
        \___)   
 ~~~~~~~~~~~~~~~~~~-->
</html>
