<!DOCTYPE html>
<html>
<head>


<link rel="stylesheet" type="text/css" href="movie.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css"> 
<title>Movie Knight</title> 

</head>
<body bgcolor="#FFFFFF">
<nav>
  <ul class="w3-navbar w3-black">
    <li><p><a href="movie.html">Home</a></p></li>
    <li><p><a href="questions.html">Movies</a></p></li>
    <li><p><a href="about.html">About</a></p></li>
	
  </ul>
</nav>
<p style="font-family:Verdana;color:black;font-size:50px">What do you rate these movies out of 5?</p>

  <center>
<form action="/action_page.php">
  <table border="0">

<tbody><tr align="CENTER">
<td width="75"> Movies</td>
<td width="75"><b>1</b></td>
<td width="75"><b>2</b></td>
<td width="75"><b>3</b></td>
<td width="75"><b>4</b></td>
<td width="75"><b>5</b></td>
</tr>
{% for t in title %}
<tr align="CENTER">
<td align="LEFT">
  {{ t.movie1 }}</td>
<td><input type="RADIO" name="#1" value="1"></td>
<td><input type="RADIO" name="#1" value="2"></td>
<td><input type="RADIO" name="#1" value="3"></td>
<td><input type="RADIO" name="#1" value="4"></td>
<td><input type="RADIO" name="#1" value="5"></td>
</tr>
<tr align="CENTER">
<td align="LEFT">
  {{ t.movie2 }}</td>
<td><input type="RADIO" name="#2" value="1"></td>
<td><input type="RADIO" name="#2" value="2"></td>
<td><input type="RADIO" name="#2" value="3"></td>
<td><input type="RADIO" name="#2" value="4"></td>
<td><input type="RADIO" name="#2" value="5"></td>
</tr>
<tr align="CENTER">
<td align="LEFT">
  {{ t.movie3 }}</td>
<td><input type="RADIO" name="#3" value="1"></td>
<td><input type="RADIO" name="#3" value="2"></td>
<td><input type="RADIO" name="#3" value="3"></td>
<td><input type="RADIO" name="#3" value="4"></td>
<td><input type="RADIO" name="#3" value="5"></td>
</tr>
<tr align="CENTER">
<td align="LEFT">
  {{ t.movie4 }}</td>
<td><input type="RADIO" name="#4" value="1"></td>
<td><input type="RADIO" name="#4" value="2"></td>
<td><input type="RADIO" name="#4" value="3"></td>
<td><input type="RADIO" name="#4" value="4"></td>
<td><input type="RADIO" name="#4" value="5"></td>
</tr>
<tr align="CENTER">
<td align="LEFT">
  {{ t.movie5 }}</td>
<td><input type="RADIO" name="#5" value="1"></td>
<td><input type="RADIO" name="#5" value="2"></td>
<td><input type="RADIO" name="#5" value="3"></td>
<td><input type="RADIO" name="#5" value="4"></td>
<td><input type="RADIO" name="#5" value="5"></td>
</tr>
<tr align="CENTER">
<td align="LEFT">
  {{ t.movie6 }}</td>
<td><input type="RADIO" name="#6" value="1"></td>
<td><input type="RADIO" name="#6" value="2"></td>
<td><input type="RADIO" name="#6" value="3"></td>
<td><input type="RADIO" name="#6" value="4"></td>
<td><input type="RADIO" name="#6" value="5"></td>
</tr>
<tr align="CENTER">
<td align="LEFT">
  {{ t.movie7 }}}</td>
<td><input type="RADIO" name="#7" value="1"></td>
<td><input type="RADIO" name="#7" value="2"></td>
<td><input type="RADIO" name="#7" value="3"></td>
<td><input type="RADIO" name="#7" value="4"></td>
<td><input type="RADIO" name="#7" value="5"></td>
</tr>
<tr align="CENTER">
<td align="LEFT">
  {{ t.movie8 }}</td>
<td><input type="RADIO" name="#8" value="1"></td>
<td><input type="RADIO" name="#8" value="2"></td>
<td><input type="RADIO" name="#8" value="3"></td>
<td><input type="RADIO" name="#8" value="4"></td>
<td><input type="RADIO" name="#8" value="5"></td>
</tr>
<tr align="CENTER">
<td align="LEFT">
  {{ t.movie9 }}</td>
<td><input type="RADIO" name="#9" value="1"></td>
<td><input type="RADIO" name="#9" value="2"></td>
<td><input type="RADIO" name="#9" value="3"></td>
<td><input type="RADIO" name="#9" value="4"></td>
<td><input type="RADIO" name="#9" value="5"></td>
</tr>
<tr align="CENTER">
<td align="LEFT">
  {{ t.movie10 }}</td>
<td><input type="RADIO" name="#10" value="1"></td>
<td><input type="RADIO" name="#10" value="2"></td>
<td><input type="RADIO" name="#10" value="3"></td>
<td><input type="RADIO" name="#10" value="4"></td>
<td><input type="RADIO" name="#10" value="5"></td>
</tr>


</tbody>
</table>

</select>
  <br>
  <input type="submit" value="Submit">
</form>

</center>



</body>


<!--       _
       .__(.)< (MEOW)
        \___)   
 ~~~~~~~~~~~~~~~~~~-->
</html>
